.hourly-temps {
  width: 100%;
  overflow-x: scroll;

  display: grid;
  grid-template-columns: repeat(48, 1fr);
}

.card-hourly {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hourly-rain {
  color: rgb(0, 123, 255);
  font-size: .7rem;
}

.period {
  color: grey;
  font-size: .6rem;
}