.other {
  padding: 30px 20px;
  background-color: #343a40;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 70px);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.other>* {
  display: grid;
  grid-template-rows: 20px;
}

.other span {
  color: white;
  font-size: .8rem;
}

.other-label {
  text-transform: uppercase;
  color: grey !important;
  font-size: .7rem !important;
}