.daily-temps {
  padding: 20px;
}

.daily-temps img {
  height: 75px;
}

.daily-conditions {
  display: flex;
  justify-content: center;
}

.daily-temps>.card-daily {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
}

.daily-temp,
.daily-rain,
.daily-humidity {
  text-align: right;
}

.daily-lo {
  color: rgb(158, 158, 158);
}