.daily-headings.card-daily {
  color: rgb(235, 111, 76);
  font-size: 1.1rem;
}

.daily-temps img {
  height: 75px;
}

.daily-conditions {
  display: flex;
  justify-content: center;
}

.card-daily {
  padding: 0 40px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 75px;
  align-items: center;
  border-bottom: 1px solid grey;
  font-size: .9rem;
}

.daily-temp,
.daily-rain,
.daily-humidity {
  text-align: right;
}

.daily-lo {
  color: var(--subtext-color);
}

@media only screen and (max-width: 600px) {

  .daily-headings.card-daily {
    font-size: .8rem !important;
  }

  .weekday {
    font-size: .6rem;
  }

  .card-daily {
    padding: 0;
  }
}