header {
  padding: 20px 0;
  background-color: rgb(52, 58, 64);
}

form {
  display: grid;
  grid-template-columns: 1fr 100px 100px;
}

#search,
button {
  height: 35px;
  font-size: 1rem;
  border: none;
  outline: none;
}

#search {
  width: 100%;
  padding: 0 10px;
  border-top-left-radius: var(--input-border-radius);
  border-bottom-left-radius: var(--input-border-radius);
}

#search:focus {
  box-shadow: 0 0 3pt 2pt rgb(235, 111, 76);
  border-top-left-radius: var(--input-border-radius);
  border-bottom-left-radius: var(--input-border-radius);
}

button {
  color: white;
}

button[type="submit"] {
  width: 80px;
  font-weight: 700;
  background-color: rgb(235, 111, 76);
  border-top-right-radius: var(--input-border-radius);
  border-bottom-right-radius: var(--input-border-radius);
}

button:hover {
  filter: saturate(.6);
  cursor: pointer;
}

button.toggle-units {
  border-radius: var(--input-border-radius);
  background-color: rgb(52, 58, 64);
  border: 2px solid rgb(235, 111, 76);
}