:root {
  --input-border-radius: 5px
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.hide {
  display: none;
}

img {
  height: 50px;
}

/* header */
header {
  padding: 30px;
  background-color: #343a40;
}

form {
  display: grid;
  grid-template-columns: 1fr 100px;
}

#search,
button {
  height: 35px;
  font-size: 1rem;
  border: none;
  outline: none;
}

#search {
  width: 100%;
  padding: 0 10px;
  border-top-left-radius: var(--input-border-radius);
  border-bottom-left-radius: var(--input-border-radius);
}

button {
  color: white;
  background-color: #eb6f4c;
  border-top-right-radius: var(--input-border-radius);
  border-bottom-right-radius: var(--input-border-radius);
}

/* hourly */
.hourly-temps {
  padding: 20px 0;
  width: 100%;
  overflow: scroll;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
}

.card-hourly {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hourly-rain {
  color: rgb(0, 123, 255);
}

/* daily */
.daily-temps {
  padding: 20px;
}

.daily-temps img {
  height: 75px;
}

.daily-conditions {
  display: flex;
  justify-content: center;
}

.daily-temps>.card-hourly {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.daily-temp,
.daily-rain,
.daily-humidity {
  text-align: right;
}

/* current */

.current-temps {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current-temps img {
  height: 100px;
}

.city-name {
  font-size: 1.6rem;
}

.current-conditions {
  font-size: 1.3rem;
}

.current-temp {
  font-size: 5rem;
}

/* other */
.other {
  padding: 40px 20px;
  background-color: #343a40;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  text-align: center;
}

.other>* {
  display: grid;
  grid-template-rows: 25px;
  color: grey;
}

.other span {
  color: white;
}