@import './components/header/header.css';
@import './components/current/current.css';
@import './components/daily/daily.css';
@import './components/hourly/hourly.css';
@import './components/other/other.css';

:root {
  --input-border-radius: 5px
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.hide {
  display: none;
}

img {
  height: 50px;
}

.top-half {
  display: flex;
  padding: 0 20px;
}